/*STARTER FORMAT*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

/*GENERAL SETTING*/
body{
    background-color: white;
    font-size: large;
}

/*div{*/
/*    padding: 5rem;*/
/*}*/

/*INDEX*/

.bg-img{
    background-image: url("multimedia/background-logo.jpg");
    height: 16vh;
    width: 100%;
    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 2rem;
}

.nav-item{
    padding-right: 3rem;
}

.nav-link{
    color: gray;
    text-shadow: 0.5px 0.5px black;
    text-decoration: none;
    padding: 0;
}

.nav-link:hover{
    color: #7c0304;
    box-shadow: 0 4px 2px -2px red;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-item{    
    font-size: 15px;
}

.dropdown-item:hover {
    box-shadow: 0 0 20px gray;
    font-size: 16px;
}

#intro ul{
    padding-left: 20px;
}

/*PROJECT SECTION*/

.project-section{
    padding: 4rem;
}

.project-section ul{
    padding-left: 3rem;
}

